     <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Member Login</title>

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      </head>
  <body style="background:#eee;">
    
    <div class="container">
            <p><br/></p>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="page-header">
                            <h3>Rudy Soler</h3>
                        </div>
         <h1>Registro de :  <td>{{ user.username }}</td></h1> 
 
<table><th>Nombre :</th>  
        <tr>
            <td>{{ user.username.label_tag }}</td>
            <td>{{ user.username }}</td>

        </tr>
       
        <th>Email :</th>              
        <tr>
            <td>{{ user.email.label_tag }}</td>
            <td>{{ user.email }}</td>
        </tr>
        <th>Primer Nombre :</th>
        <tr>
            <td>{{ user.first_name.label_tag }}</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <th>Segundo Nombre :</th>
         <tr>
            <td>{{ user.last_name.label_tag }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <th>Hora De Ingreso :</th>
        <tr>
            <td>{{ user.date_joined.label_tag }}</td>
            <td>{{ user.date_joined }}</td>
        </tr>
        <th>Hora Despues de Ingreso :</th>
        <tr>
            <td>{{ user.last_login.label_tag }}</td>
            <td>{{ user.last_login }}</td>
        </tr>
    
 
      </table>
    <a href="{% url 'create_user' %}">add</a>||
    <!-- {% if perms.usuarioprefil.add_zet %} | <a href="{% url 'create_user'
        %}">add</a>{% endif %} -->
    <a href="{% url 'logout' %}">salir</a>||
    <a href="{% url 'list_user'%}">Lista</a>||

 
 
            </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>